/* Base styles for the navbar */
.navbar-container {
    background-color: #121212;
    padding: 15px 20px;
  }
  
  .navbar-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-actions img {
    cursor: pointer;
  }
  
  .navbar-toggler {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    display: block;
    padding: 10px;
  }
  
  /* Show hamburger only on smaller screens */
  @media (max-width: 768px) {
    .navbar-toggler {
      display: block; /* Show the hamburger menu */
    }
  
    .dropdown-menu {
      position: static;
      width: 100%;
      background-color: #121212;
    }
  
    .dropdown-item {
      width: 100%;
      text-align: left;
    }
  
    .dropdown-item-text {
      text-align: left;
    }
  
    .navbar-actions .dropdown-menu {
      display: block;
      width: 100%;
    }
  
    .dropdown-menu {
      position: static;
      width: 100%;
      background-color: #121212;
    }
  }
  
  /* For larger screens (tablet, laptop, etc.) */
  @media (min-width: 768px) {
    .navbar-actions .navbar-toggler {
      display: none; /* Hide hamburger menu on large screens */
    }
  }
  